html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
	width: 100%;
}
#header_inner,.main_contact,#section02_inner,#company {
	width: 960px;
	margin: 0 auto;
}
#header_inner {
	height: 85px;
	position: relative;
}
#header_logo,#header_contact,#header_text {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
#header_logo {
	width: 194px;
	height: 40px;
	left: 19px;
}
#header_contact {
	width: 155px;
	height: 51px;
	right: 0;}